#root {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.contact-container {
  min-width: 300px;
  padding: 5px;
  box-shadow: 1px 1px 8px 1px gray;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 5px;
  box-shadow: 1px 1px 8px 1px gray;
}

.edu-container {
  min-width: 324px;
  padding: 5px;
}

.job-container {
  min-width: 324px;
  padding: 5px;
}

.card {
  margin: 5px;
  padding: 5px;
  max-width: 300px;
  box-shadow: 1px 1px 8px 1px gray;
}
.card button {
  background-color: #9b1818;
}

button {
  margin: 5px;
  border: none;
  padding: 0.5rem;
  color: white;
  background-color: cadetblue;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 8px;
  text-transform: uppercase;
}
button:hover {
  opacity: 0.9;
}

label {
  margin-bottom: 0.25rem;
  color: #292929;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
}
